html,
body,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

.main {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    width: 100%;
}

.main>.sidebar {
    display: flex;
    position: fixed;
    color: white;
    background: #2980b9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2980b9, #2c3e50);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2980b9, #2c3e50);
    width: 40%;
    height: 100%;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-content: initial;
}

.main>.sidebar>.sidebar-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.main>.sidebar .sidebar-picture-profile {
    border-radius: 50%;
    border: 5px white solid;
    max-width: 150px;
    /* width: 100%; */
    /* height: auto; */
}

.main>.content {
    position: relative;
    width: 60%;
    background: red;
}