.main {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    width: 100%;
}

.main>.sidebar {
    display: flex;
    position: fixed;
    color: white;
    background: #2980b9;
    background: -webkit-linear-gradient(to bottom, #2980b9, #2c3e50);
    background: linear-gradient(to bottom, #2980b9, #2c3e50);
    width: 30%;
    height: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.sidebar .sidebar-picture-profile {
    border-radius: 50%;
    border: 5px white solid;
    max-width: 150px;
}

.main>.content {
    position: relative;
    margin-left: 30%;
    width: 100%;
    padding: 20px;
}