---
import Menu from "./Menu.astro";
---

<nav
    class="fixed flex justify-between items-center tablet-down:px-2 laptop-up:px-5 shadow-2xl w-full bg-white z-50 top-0 left-0"
>
    <div class="laptop-up:hidden z-[300]">
        <img src="" alt="" />
    </div>

    <div class="laptop-up:hidden py-2 z-[300]">
        <button
            onclick="toggleMenu()"
            title="menu-toggle"
            id="menu-toggle"
            class="relative group"
        >
            <div
                class="relative flex overflow-hidden items-center justify-center rounded-full w-[50px] h-[50px] transform transition-all duration-200 shadow-md bg-black-0 ring-0 ring-gray-300 ring-opacity-30 hover:ring-8 group-focus:ring-4"
            >
                <div
                    class="flex flex-col justify-between w-[20px] h-[20px] transform transition-all duration-300 origin-center overflow-hidden"
                >
                    <div
                        class="bg-white h-[2px] w-7 transform transition-all duration-300 origin-left group-[.isOpen]:translate-x-10"
                    >
                    </div>
                    <div
                        class="bg-white h-[2px] w-7 rounded transform transition-all duration-300 group-[.isOpen]:translate-x-10 delay-75"
                    >
                    </div>
                    <div
                        class="bg-white h-[2px] w-7 transform transition-all duration-300 origin-left group-[.isOpen]:translate-x-10 delay-150"
                    >
                    </div>

                    <div
                        class="absolute items-center justify-between transform transition-all duration-500 top-2.5 -translate-x-10 group-[.isOpen]:translate-x-0 flex w-0 group-[.isOpen]:w-12"
                    >
                        <div
                            class="absolute bg-white h-[2px] w-5 transform transition-all duration-500 rotate-0 delay-300 group-[.isOpen]:rotate-45"
                        >
                        </div>
                        <div
                            class="absolute bg-white h-[2px] w-5 transform transition-all duration-500 -rotate-0 delay-300 group-[.isOpen]:-rotate-45"
                        >
                        </div>
                    </div>
                </div>
            </div>
        </button>
    </div>

    <Menu />
</nav>

<style>
    html {
        scroll-margin-top: 100px;
        padding-top: 50px;
    }
</style>

<script is:inline>
    const menu = document.getElementById("menu");
    const btnToggle = document.getElementById("menu-toggle");

    function toggleMenu(open = undefined) {
        const isOpened = open ? !open : btnToggle?.classList.contains("isOpen");
        if (isOpened) {
            menu?.classList.remove("top-0");
            menu?.classList.add("-top-[100%]");
        } else {
            menu?.classList.remove("-top-[100%]");
            menu?.classList.add("top-0");
        }
        btnToggle.classList.toggle("isOpen");
    }

    function moveToElement(id) {
        toggleMenu(false);
        const element = document.getElementById(id);
        if (element) {
            element.scrollIntoView({ behavior: "smooth" });
        }
    }
</script>
