---
import Content from "./Content.astro";
import ProjectCard  from "./ProjectCard.astro";
---

<div class="w-full p-12">
    <Content>
        <div class="w-full">
            <h1 class="text-4xl mb-6">Projects</h1>

            <div
                class="w-full grid grid-cols-3 gap-8 tablet:grid-cols-2 touch:grid-cols-1"
            >
                <ProjectCard
                    title="Wizard"
                    description="e-learning app to learn a new language, development for Pearson Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus repudiandae ducimus quis, laudantium repellendus sint! Saepe molestias quae, maiores hic laborum natus tempore a consequuntur odit mollitia minus suscipit. Quis."
                    image="/images/projects/wizme.png"
                />

                <ProjectCard
                    title="ThorSystem"
                    description="App to view, control and storage stats from electric generators"
                    image="/images/projects/thorsystem.jpg"
                />

                <ProjectCard
                    title="ThorSystem"
                    description="App to view, control and storage stats from electric generators"
                    image="/images/projects/thorsystem.jpg"
                />

                <ProjectCard
                    title="ThorSystem"
                    description="App to view, control and storage stats from electric generators"
                    image="/images/projects/thorsystem.jpg"
                />
            </div>
        </div>
    </Content>
</div>
