---
interface Props{
    image: string;
    title: string;
    description: string;
}

const { image, title, description } = Astro.props;
---

<style is:inline>
    .description {
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
</style>

<div class='cursor-pointer bg-white rounded-lg shadow-md hover:shadow-2xl transition-shadow duration-500'>
    <img src={image} alt="" />

    <div class='p-4 max-h-[180px]'>
        <h3 class='font-bold text-lg'>{title}</h3>
        <p class='description'>
            {description}
        </p>
    </div>
</div>
