---
import Content from "./Content.astro";
---

<div class="welcoming w-full p-12">
    <Content
        className="tablet-down:flex-col-reverse tablet-down:justify-center"
    >
        <div
            class="w-full tablet-down:flex tablet-down:flex-col tablet-down:items-center tablet-down:mt-6"
        >
            <p
                class="text-6xl tablet-down:text-3xl tablet-down:text-center animate__animated animate__slideInLeft"
            >
                <small class="text-xl tablet-down:text-xl">
                    Hi 👋🏻 I'm Walter Corrales.
                </small>
                <br /> A
                <small class="text-primary font-bold typewrite" data-period="2000" data-type="['Fullstack', 'Frontend', 'Backend']">
                    Fullstack
                </small>
                <small class="text-primary font-bold" >
                     Developer
                </small><br/> from Nicaragua
            </p>

            <div
                class="flex items-center w-full mt-4 tablet-down:justify-center"
            >
                <a
                    class="px-3 pl-0"
                    title="my github"
                    href="https://github.com/buster95"
                    target="_blank"
                >
                    <img src="/images/github.svg" class="aspect-square w-8" />
                </a>

                <a
                    class="px-3"
                    title="my linkedin"
                    href="https://www.linkedin.com/in/walter-corrales"
                    target="_blank"
                >
                    <img src="/images/linkedin.svg" class="aspect-square w-8" />
                </a>

                <a
                    class="px-3"
                    title="my github"
                    href="https://github.com/buster95"
                    target="_blank"
                >
                    <whatsappIcon />
                    <img src="/images/google.svg" class="aspect-square w-8" />
                </a>

                <a
                    class="px-3 pr-0"
                    title="my github"
                    href="https://wa.me/50585154220"
                    target="_blank"
                >
                    <img src="/images/whatsapp.svg" class="aspect-square w-8" />
                </a>
            </div>
        </div>

        <div
            class="relative flex justify-center items-center w-full max-w-[300px]"
        >
            <img
                class="aspect-square rounded-full w-full z-[2] animate__animated animate__slideInRight"
                src="/images/pp.jpg"
                alt="this is me"
            />
            <div
                class="circle bg-primary aspect-square absolute rounded-full w-full mt-8 ml-40 max-w-[250px] z-[1] animate__animated animate__delay-0.5s animate__slideInLeft"
            >
            </div>
        </div>
    </Content>
</div>

<script is:inline>
    const TxtType = function(el, toRotate, period) {
        this.toRotate = toRotate;
        this.el = el;
        this.loopNum = 0;
        this.period = parseInt(period, 10) || 2000;
        this.txt = '';
        this.tick();
        this.isDeleting = false;
    };

    TxtType.prototype.tick = function(){
        const i = this.loopNum % this.toRotate.length;
        const fullTxt = this.toRotate[i];

        this.txt = fullTxt.substring(0, this.isDeleting ? this.txt.length - 1 : this.txt.length + 1);
        this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';
        let delta = 200 - Math.random() * 100;

        if (this.isDeleting) { delta /= 2; }
        if (!this.isDeleting && this.txt === fullTxt) {
            delta = this.period;
            this.isDeleting = true;
        } else if (this.isDeleting && this.txt === '') {
            this.isDeleting = false;
            this.loopNum++;
            delta = 500;
        }

        setTimeout(() => {
            this.tick();
        }, delta);
    };

    window.onload = function() {
        const elements = document.getElementsByClassName('typewrite');
        for (const element of elements) {
            var toRotate = element.getAttribute('data-type');
            var period = element.getAttribute('data-period');
            if (toRotate) new TxtType(element, JSON.parse(toRotate.replaceAll('\'', '\"')), period);
        }
        var css = document.createElement("style");
        css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #000}";
        document.body.appendChild(css);
    };
</script>
