button.btn {
    background-color: var(--black);
    color           : var(--white);
    border-radius   : 50px;
    padding         : 10px 25px;
}

button.btn-primary {
    background-color: var(--primary);
}